.depend
dsss17/full
dsss17/sol
dsss17/terse
.depend
*.cmo
*.cmi
*.cmx
*.cmxa
*.cmxs
*.cmt
*.cmti
*.hi
*.o
*.v.d
*.mlg.d
*.ml.d
*.glob
*.vo
*.aux
*.a
*.annot
.coq-native
\#*
*~
*.bak
*.d
Makefile.coq*
*.out
*.so
*.opt
*.byte
_qc_*.tmp
quickChickTool
.DS_Store
_build/
src/.merlin
*.install
quickChickTool.byte
src/driver.ml
src/quickChick.ml
src/tactic_quickchick.ml
src/weightmap.ml
src/quickChickToolLexer.ml
src/quickChickToolParser.ml
src/quickChickToolParser.mli
*.pyc
__pycache__
