.depend
dsss17/full
dsss17/sol
dsss17/terse
.depend
*.cmo
*.cmi
*.cmx
*.cmxa
*.cmxs
*.cmt
*.cmti
*.hi
*.o
*.v.d
*.ml4.d
*.ml.d
*.glob
*.vo
*.aux
*.a
*.annot
.coq-native
\#*
*~
*.bak
*.d
Makefile.coq*
*.out
_qc_*.tmp
quickChickTool
.DS_Store
_build/
quickChickTool.byte
src/quickChickToolLexer.ml
src/quickChickToolParser.ml
src/quickChickToolParser.mli
*.pyc
__pycache__
platform.info
Tmp*
