*.cmo
*.cmi
*.cmx
*.cmxs
*.hi
*.o
*.v.d
*.ml4.d
*.ml.d
*.glob
*.vo
*.aux
.coq-native
\#*
*~
*.bak
*.d
Makefile.coq
.DS_Store
src/quickChickToolLexer.ml
src/quickChickToolParser.ml
src/quickChickToolParser.mli
src/quickChickToolParser.output
src/quickChickTool
