version: 2.1

# Parameters must be at the top level (outside defaults) for CircleCI 2.1
parameters:
  coq:
    type: string
    default: "coqorg/coq:8.15"
  skip:
    type: string
    default: ""

defaults: &defaults
  environment:
    OPAMJOBS: 2
    OPAMVERBOSE: 1
    OPAMYES: true
    OPAMWITHTEST: true
    TERM: xterm
    SKIP_BUILD: <<parameters.skip>>
  docker:
    - image: <<parameters.coq>>

commands:
  startup:
    steps:
    - checkout
    - run:
        name: Configure environment
        command: echo . ~/.profile >> $BASH_ENV
  prepare:
    steps:
    - run:
        name: Install dependencies
        command: |
            opam update
            opam install --deps-only .
        no_output_timeout: 30m
    - run:
        name: List installed packages
        command: |
            opam list
            opam info coq
  build:
    steps:
    - run:
        name: Building QuickChick
        command: |
          dune build
  test:
    steps:
    - run:
        name: Test
        command: |
          dune runtest --stop-on-first-error -j1
          dune build @install
          dune install coq-quickchick   # Make quickChick tool available on path
          dune build @cram
    - run:
        name: Test dependents
        no_output_timeout: 20m
        command: |
          PINS=$(echo `opam list -s --pinned --columns=package` | sed 's/ /,/g')
          PACKAGES=`opam list -s --depends-on coq-quickchick --installable-with $PINS`
          for PACKAGE in $PACKAGES
          do DEPS_FAILED=false
             echo $SKIP_BUILD | tr ' ' '\n' | grep ^$PACKAGE$ > /dev/null &&
               echo Skip $PACKAGE && continue
             opam install --deps-only $PACKAGE || DEPS_FAILED=true
             [ $DEPS_FAILED == true ] || opam install -t $PACKAGE
          done
  remove:
    steps:
    - run:
        name: Removing QuickChick
        command: dune uninstall coq-quickchick

jobs:
  test:
    <<: *defaults
    steps:
    - startup
    - prepare
    - build
    - test
    - remove
  opam-install:
    <<: *defaults
    steps:
    - startup
    - prepare
    - run: opam pin coq-quickchick .
    - run: opam remove .

workflows:
  version: 2
  build:
    jobs:
      # Reference jobs defined above by name only - don't redefine them inline
      - test
      - opam-install
